################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Arrays/HourGlass/hourGlass/.vs/hourGlass/v16
/Arrays/HourGlass/hourGlass/obj
/Arrays/HourGlass/hourGlass/.vs/hourGlass/DesignTimeBuild
/Arrays/LeftRotation/leftRotation/.vs/leftRotation/v16
/Arrays/LeftRotation/leftRotation/obj
