################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Arrays/HourGlass/hourGlass/.vs/hourGlass/v16
