################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Arrays/HourGlass/hourGlass/.vs/hourGlass/v16
/Arrays/HourGlass/hourGlass/obj
/Arrays/HourGlass/hourGlass/.vs/hourGlass/DesignTimeBuild
/Arrays/LeftRotation/leftRotation/.vs/leftRotation/v16
/Arrays/LeftRotation/leftRotation/obj
/Arrays/LeftRotation/leftRotation/.vs/leftRotation/DesignTimeBuild
/Arrays/NewYearChaos/minBribes/.vs/minBribes/v16
/Arrays/NewYearChaos/minBribes/bin/Debug/netcoreapp2.1
/Arrays/NewYearChaos/minBribes/obj
/Arrays/MinimumSwaps/minSwaps/.vs/minSwaps/v16
/Arrays/MinimumSwaps/minSwaps/obj
